@import '../../scss/colors';

.image-name {
    display: flex;
    align-items: center;

    &__pic {
        width: 56px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__text {
        // font-size: 20px;
        color: $blue-dark;
    }
}