<<<<<<< HEAD
// COLORS

$red-primary: #CD0102;
$blue-dark: #0C5991;
$blue-light: #E4EDF4;
=======
// COLORS

$red-primary: #CD0102;
$blue-dark: #0C5991;
$blue-light: #E4EDF4;
$grey-mid: #808184;
>>>>>>> 4d687fc07faef7c591c8501ac5bf844bacfebf6e
