@import 'reset';
@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'sizes';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

html, body {
  height: 100%;
}

#home {
  height: 100%;
}

body {
    font-family: $font-primary;
    font-size: $font-size;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1280px;
}

.siguiendo,
.tecnologia,
.entretenimiento,
.deporte,
.geopolitica {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.perfil {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .inicio {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      width: 100vh;
      padding: 50px 0 0 0;
  }

span {
  margin: 0;
  padding: 0;
}