
.boton__twitter{
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 50px;
    border: 3px solid #00ACEE;
    background-color: white;
    border-radius: 10px;
    color:#00acee;
    font-weight:900;
    font-size: 15px;
    justify-content:space-around;
    align-items: center;
    position: relative;
    margin-top: 20px;   
  }
  
  .boton__twitter img {
    position: absolute;
    width: 50px;
    left: 20px;
}

 .boton__twitter a{
   color: #00acee;
   text-decoration: none;
}

