.container__logo {
  border: 1px solid #808184;
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  font-family: sans-serif;
}

.container__logo-people {
  text-align: center;
}
.container__logo-people p {
  color: #808184;
}

.container__logo-people img {
  width: 300px;
}

.container__componentes {
  display: flex;
}

.container__componentes-botones {
  border-right: 1px solid #808184;
  width: 50%;
  padding-left: 80px;
  box-sizing: border-box;
}

.container__componente-login {
  margin-top: 20px;
  margin-left: 40px;
}

.container__footer {
  margin-top: 30px;
  border-top: 1px solid #808184;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.container__footer p {
  color: #808184;
}