.container__search{
    border-radius: 5px;
    border:1px solid  #6D90AB;
    margin-left: -15px;
}

.search{
    border:1px solid  #6D90AB;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 630px;
    padding-left: 10px;
    background-color: white;
    border: none;
    overflow: hidden;
}

.search img{
    height: 16px;
}

.search input{
    border-radius: 6px;
    height: 35px;
    background-color: white;
    color: gray;
    font-size: 16px;
    padding: 0px 20px;
    outline: none;
    width: 250%;
    border: none;
    padding-left:10px;

}

