@import '../../scss/colors';

.bookmark-container {
    border: 3px solid $blue-light;
    border-radius: 5px;
    padding: 25px;
    margin-left:10px;
    margin-top:10px;
    max-width: 250px;
    // height: 250px;

    // margin: auto;

    // &__content {
    //     display: flex;
    // }

    &__image {
        border-radius: 5px;
        object-fit: cover;
        max-width: 100px;
    }

    &__metadata {
        color: $blue-dark;
        margin-top:10px;   
        font-size: 13px;
        margin-left: -15px;
    }

    &__source {
        display: flex;
        margin-bottom: 10px;
        font-size: 12px;
        a {
            margin: 0;
            padding: 0;
        }
    }

    &__title {
        font-size: 14px;
        margin-right: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    
}