@import '../../scss/colors';

.bookmarks {
    // display: flex;
    // margin-top: 2rem;
    // padding-left: 5px;
    
    
    &__content {
       display: flex;
        flex-wrap: wrap; 
        // width: 70%;
        margin-left:25px;
    }

    &__title {
        color: $blue-dark;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 100px;
        text-align: center  ;
    }
}

