@import '../../scss/colors';

.profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 70%;



    &__divider {
        width: 90%;
        border: 2px solid $blue-dark;

    }

    &__info {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;


        a {
            color: $blue-dark;
            text-decoration: none;
        }

        h1 {
            color: $blue-dark;
            font-size: 32px;
            padding: 1rem;
        }

        img {
            width: 156px;
            border-radius: 50%;
        }

        p {
            color: $grey-mid;
            margin-bottom: 1rem;
        }
    }

    &__summary {
        color: $blue-dark;
        font-size: 26px;
        font-weight: 600;
        
    }
}