@import '../../scss/colors';

.topics {
    margin-top: 2rem ;
    text-align: center;
    width: 70%;
    margin-left: 250px;;


    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        color: $blue-dark;
    }
}